*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
/* banner 开始 */
.banner{
    display: block;
    height: 80px;
    background:#ff2f7c url(../images/先锋1.jpg) center 0 no-repeat;
}
/* banner 结束 */

/* header 开始 */
.header{
    height: 40px;
    background: #f2f2f2;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);
}
.wrapper{
    width: 1200px;
    /* height: 40px; */
    margin:0 auto;
}
.header-login{
    height: 40px;
    line-height: 40px;
    font-size:12px;
    float: left;
    /* display: block; */
}
.header-login>span{
    color:#999;
}
.header-login a{
    color: #999;
    padding-left:20px;
}
.header-login a:hover{
    color: #e54077;
}
.right{
    float: right;
}
.right li{
    float: left;
    position: relative;
}
.right>li>a{
    color: #999;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 20px;
}
.right a:hover{
    color: #e54077;
}
.special a:hover{
    color:#999;
}
.icon-jiafangjiashi,.icon-shouji{
    color:red;
    font-size: 12px;
}
.list-menu{
    position: relative;
    z-index: 3;
}
.list-menu:hover > a{
    background: #fff;
    text-decoration: underline;
    color: #e54077;
}
.triangle{
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top-color: #999;
    position: absolute;
    /* left: 70px;
    bottom: 14px; */
    right:7px;
    top: 20px;
    transition: transform 0.2s ease;    
}
.list-menu:hover .triangle{
    transform: rotate(180deg);
    transform-origin: 50% 25%;

}
.main-sub{
    position:absolute;
    padding: 10px 20px;
    background: #fff;
    width: 80px;
    line-height: 30px;
    display: none;
}
.main-sub a{
    color: #999;
}
.list-menu:hover .main-sub{
    display: block;
}
.list-menu .main-sub a:hover{
    text-decoration: underline;
}
.main-sub2{
    position:absolute;
    width: 120px;
    background: #fff;
    padding: 5px 5px;
    right: 0;
    display: none;
}
.main-sub2 li{
    padding-bottom: 10px;
    /* margin-right: 20px;  */

}
.main-sub2 a{
    color: #999;
}
.main-sub2 span{
    display: block;
}
.mar-right{
    margin-right:18px;
}
.main-sub2 a:hover{
    text-decoration: underline;
}
.list-menu:hover .main-sub2{
    display: block;
}
.photo-two{
    position: absolute;
    left: -30px;
    top:30px;
    box-shadow: 0 0 5px #aaa;
    display: none;
}
.photo-two::after{
    content: "";
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    left: 84px;
    top: -8px;
}
.list-tel:hover .photo-two{
    display: block;
}
.list-tel{
    z-index: 3;
}


