.tamll-logo{
    width: 280px;
    height: 130px;
    float: left;
    margin-top: 5px;
    position: relative;
    left: -42px;
}
.search{
    float: left;
    margin: 40px 0 0 70px;
    overflow: hidden;
}
.search-box{
    width: 630px;
    height: 40px;
    border: 2px solid #ff0036;
    /* overflow: hidden; */
}
.search-text{
    height: 40px;
    width: 480px;
    outline:none;
    border: none;
}
.search-bot{
    float: right;
    width: 150px;
    height: 40px;
    background: #ff0036;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
}
.search-list{
    margin-left: -13px;
}
.search-list li{ 
    float: left;
    font-size:14px;
    padding: 0 12px;
    margin: 10px 0px; 
    line-height: 1.1;
    border-left: 1px solid #999;
    
    /* position: absolute;
    bottom:50px; */
    /* display: inline-block; */
    
}
.search-list a{
    color: #999;
}
.search-list .search-list-sp a{
    color:#e54077;
}
.mar-list{
    padding-left: 200px;
}
.wrapper .mar-list a{
    float: left;
    padding:0 8px;
    font-size: 18px;
    display: block;
    position: relative;
    font-weight: 500px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    color: #333;
}
.sup-photo{
    height: 34px;
    width: 120px;
}
.mar-list a:hover{
    color:#e54077;
}
.bg1{
    height: 2000px;
    background: url(../images/bg.jpg) center -210px no-repeat;
    /* margin-bottom: 34px; */
}
.cantent{
    width: 1200px;
    height: 496px;
    background: #ff2f7c;
    margin: 0 auto;
    position: relative;
}
.category{
    width: 195px;
    height: 496px;
    /* background: purple; */
    position:relative;
    bottom: 32px;
    z-index: 2;
}
.category h3{
    width: 195px;
    height: 32px;
    background: #ff0036;
    line-height: 34px;
    font-size: 16px;
    color: #fff;
}
.main-list{
    background: rgba(0,0,0,0.55);

}
.main-list>li{
    width: 179px;
    height: 31px;
    padding: 0 8px;
}
.category .main-cate:hover{
    background:#fff;
}
.main-cate>a{
    color: #fff;
}
.category .main-cate:nth-child(1):hover>a{
    color:#e54077;
}
.category .main-cate:nth-child(2):hover>a{
    color:#427def;
}
.category .main-cate:nth-child(3):hover>a{
    color:#6347ed;
}
.category .main-cate:nth-child(4):hover>a{
    color:#e54077;
}
.category .main-cate:nth-child(5):hover>a{
    color:#6347ed;
}

.category .main-cate:nth-child(6):hover>a{
    color:#427def;
}
.category .main-cate:nth-child(7):hover>a{
    color:#fa5c5c;
}
.category .main-cate:nth-child(8):hover>a{
    color:#f7a831;
}
.category .main-cate:nth-child(9):hover>a{
    color:#f7a831;
}
.category .main-cate:nth-child(10):hover>a{
    color:#427def;
}
.category .main-cate:nth-child(11):hover>a{
    color:#dd2727;
}
.category .main-cate:nth-child(12):hover>a{
    color:#427def;
}
.category .main-cate:nth-child(13):hover>a{
    color:#f7a831;
}
.category .main-cate:nth-child(14):hover>a{
    color:#3bc7b0;
}
.category .main-cate:nth-child(15):hover>a{
    color:#dd2727;
}
.category .main-cate:nth-child(16):hover>a{
    color:#3bc7b0;
}
.category .main-cate i{
    color: #999;
}
.category .main-cate:nth-child(1):hover>i{
    color:#e54077;
}
.category .main-cate:nth-child(2):hover>i{
    color:#427def;
}
.category .main-cate:nth-child(3):hover>i{
    color:#6347ed;
}
.category .main-cate:nth-child(4):hover>i{
    color:#e54077;
}
.category .main-cate:nth-child(5):hover>i{
    color:#6347ed;
}
.category .main-cate:nth-child(6):hover>i{
    color:#427def;
}
.category .main-cate:nth-child(7):hover>i{
    color:#fa5c5c;
}
.category .main-cate:nth-child(8):hover>i{
    color:#f7a831;
}
.category .main-cate:nth-child(9):hover>i{
    color:#f7a831;
}
.category .main-cate:nth-child(10):hover>i{
    color:#427def;
}
.category .main-cate:nth-child(11):hover>i{
    color:#dd2727;
}
.category .main-cate:nth-child(12):hover>i{
    color:#427def;
}
.category .main-cate:nth-child(13):hover>i{
    color:#f7a831;
}
.category .main-cate:nth-child(14):hover>i{
    color:#3bc7b0;
}
.category .main-cate:nth-child(15):hover>i{
    color:#dd2727;
}
.category .main-cate:nth-child(16):hover>i{
    color:#3bc7b0;
}
.main-cate{
    position: relative;
}
.main-list-sun{
    background: #fff;
    height: 496px;
    width: 800px;
    position: absolute;
    left: 195px;
    top: 0;
    display: none;
}
.main-list-gr1{
    background: #fff;
    width: 550px;
    height: 480px;
    float: left;
    padding: 8px 8px;
    overflow: hidden;
}
.main-list-gr1>div{
    /* overflow: hidden; */
    /* border-bottom: 1px dashed rgba(0,0,0,0.1); */
    padding-top: 14px;
    /* display: none; */
}
.main-list li:hover .main-list-sun{
    display: block;
}

.main-list-gr2{
    background: #fff;
    width: 200px;
    height: 496px;
    float: right;

}
.main-list-row{
    padding-bottom:14.6px; 
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    width: 400px;
    overflow: hidden;
}
.main-list-row li{
    float: left;
    padding: 0 4px;
    font-size: 12px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;

}
.main-list-row a{
    color: #999;
}
.main-list-grtitle{
    float: left;
    width: 90px;
    height: 35px;
    padding-left:10px;
    /* padding-top:8px; */
    font-size: 12px;
    font-weight: 700;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.main-list-row .main-list-color a{
    color:#e54077;  
}
/* 轮播图 */
.slide-box{
    /* position: relative; */
}
.slide-box-img img{
    position: absolute;
    left: 0px;
    top:0px;
    width: 1200px;
    height: 496px;
}
.slide-box-list{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);

}
.slide-box-list li{
    width: 35px;
    height: 5px;
    float: left;
    margin-left: 10px;
    background: #000;

}
.slide-box-list li:hover{
    color: #999;
}
.double-one{
    width: 1200px;
    height: 105px;
    margin: 0 auto;
    background: url(../images/11.11-1.png) center center no-repeat;
    background-size:300px 65px;
    display: block;
}
.sp-sa-wrapper{
    width: 1200px;
    height: 330px;
    margin: 0 auto;
}
.special-sale-wrapper{
    width: 595px;
    height: 330px;
    float: left;
    margin-right: 5px;
}
.special-sale4{
    width: 240px;
    height: 330px;
    /* background:#999 url(../images/spe-bg1.png) 0 0 no-repeat; */
    display: block;
    text-align: center;
    float: left;
    background-image: url(../images/spe-bg004.png);
    position: relative;
    margin-right: 7px;
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}
.special-sale-title4{
    color: #1d39e1;
    padding-top: 32px;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 1000;
}
.special-sale-words4{
    color: #1d39e1;
    font-size: 18px;
    
}
.special-sale-bg{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.special-sale5{
    width: 345px;
    height: 160px;
    display: block;
    background: #888 url(../images/spe-bg005.png) 0 0 no-repeat;
    float: left;
    position: relative;
    margin-bottom: 10px;
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}
.special-sale-title5{
    color: #00816a;
    padding-top: 27px;
    margin-left: 30px;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 700;
}
.special-sale-words5{
    color: #00816a;
    font-size: 18px;
    margin-left: 30px;
}

.special-sale6{
    width: 345px;
    height: 160px;
    display: block;
    background: #888 url(../images/spe-bg006.png) 0 0 no-repeat;
    float: left;
    position: relative;
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}
.special-sale-title6{
    color: #835600;
    padding-top: 27px;
    margin-left: 30px;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 700;
}
.special-sale-words6{
    color: #835600;
    font-size: 18px;
    margin-left: 30px;
}

.special-sale{
    width: 240px;
    height: 330px;
    /* background:#999 url(../images/spe-bg1.png) 0 0 no-repeat; */
    display: block;
    text-align: center;
    float: left;
    background-image: url(../images/spe-bg001.png);
    position: relative;
    margin-right: 7px;
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}
.special-sale-title{
    color: #ff7200;
    padding-top: 32px;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 1000;
}
.special-sale-words{
    color: #ff7200;
    font-size: 18px;
    
}
.special-sale-photo{
    width: 170px;
    height: 180px;
    margin: 20px 35px 0 35px;
}
.special-sale-bg{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.special-sale2{
    width: 345px;
    height: 160px;
    display: block;
    background: #888 url(../images/spe-bg002.png) 0 0 no-repeat;
    float: left;
    position: relative;
    margin-bottom: 10px;
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}
.special-sale-title2{
    color: #e30c62;
    padding-top: 27px;
    margin-left: 30px;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 700;
}
.special-sale-words2{
    color: #e30c62;
    font-size: 18px;
    margin-left: 30px;
}
.special-sale-photo2{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 15px;
    right:15px;
}
.special-sale3{
    width: 345px;
    height: 160px;
    display: block;
    background: #888 url(../images/spe-bg003.png) 0 0 no-repeat;
    float: left;
    position: relative;
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}
.special-sale-title3{
    color: #e6010c;
    padding-top: 27px;
    margin-left: 30px;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 700;
}
.special-sale-words3{
    color: #e6010c;
    font-size: 18px;
    margin-left: 30px;
}
.special-sale-photo3{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 15px;
    right:15px;
}
.content-activity{
    margin-top: 34px;
    height: 360px;
    margin-bottom: 30px;
}
.brand-sale{
    width: 225px;
    height: 370px;
    float: left;
    margin-right: 7px;
}
.brand-sale-title{
    width: 225px;
    height: 54px;
    background: #fff;
    /* text-align: center; */
    line-height: 54px;
    box-shadow: 0 0 11px -5px rgba(0,0,0,.2);
}
.brand-sale-title img{
    width: 18px;
    height: 18px;
    float: right;
    margin: 19px 10px 0 0;
}
.brand-sale-title span{
    display: inline-block;
    margin-left: 7px;
}
.brand-sale-p img{
    width: 225px;
    height: 316px;
}
.brand-sale-title1{
    font-size: 18px;
    font-weight: 700;
    color: #333;

}
.brand-sale-title2{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.brand-sale-p img:hover{
    /* 透明度 */
    opacity: 0.8 ;
    /* ie兼容写法 设置不透明度为80*/
    /* filter: alpha(opacity=80);  */
}
.brand-sale-p0 img:hover{
    opacity: 0.8;
}
.brand-sale0{
    width: 475px;
    height: 370px;
    float: left;
    margin-right: 7px;
    overflow: hidden;
}
.brand-sale-title0{
    width: 475px;
    height: 54px;
    background: #fff;
    /* text-align: center; */
    line-height: 54px;
    box-shadow: 0 0 11px -5px rgba(0,0,0,.2);
}
.brand-sale-title0 img{
    width: 18px;
    height: 18px;
    float: right;
    margin: 19px 10px 0 0;
}
.brand-sale-title0 span{
    display: inline-block;
    margin-left: 7px;
}
.brand-sale-p0 img{
    width: 475px;
    height: 316px;
}
.brand-sale-title1{
    font-size: 18px;
    font-weight: 700;
    color: #333;

}
.brand-sale-title2{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.logos{
    height: 325px;
    margin-bottom: 15px;
}
.logos li{
    width: 119px;
    height: 108px;
    background:#fff;
    /* line-height: 108px; */
    overflow: hidden;
    position: relative;
    float: left;
    box-shadow: 0 0 1px 0px rgba(0,0,0,.1);
    /* border: 1px rgba(0,0,0,.2) */
}
.logos li img{
    width: 82%;
    height: 50px;
    display: block;   
    margin: 25px auto;
}
.logos-mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.logos-words{
    margin:38px 0 5px 0 ;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.logos-enter{
    display: inline-block;
    width: 60px;
    height: 20px;
    background: #ff0036;
    text-align: center;
    border-radius: 8px;
    color: #fff;
}
.logos li:hover .logos-mask{
    opacity: 1;
}
.huanyihuan1{
    width: 82%;
    height: 50px;
    display: block;   
    margin: 25px auto;
    font-size: 32px;
    color: #999;
    text-align: center;
}
.logos-huanyihuan1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #999;
}
.logos-huanyihuan{
    background: #ff0036;
    opacity: 0;
    transition: opacity 0.4s ease; 
}
.huanyihuan2{
    width: 82%;
    height: 50px;
    display: block;   
    margin: 25px auto;
    font-size: 32px;
    color: #fff;
    text-align: center;
    /* transform: rotate(0deg); */
    transition: transform 0.4s ease;
}
.logos-huanyihuan2{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
}
.logos-mask-huanyihuan{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background:#ff0036;
    opacity: 0;
    transition: opacity 0.4s ease;

}

.logos li:hover .logos-mask-huanyihuan{
    opacity: 1;
}
.logos li:hover .logos-mask-huanyihuan .huanyihuan2{
    transform: rotate(-1turn);
}
.mart{
    height: 665px;
}
.mart-list{
    height: 31px;
    margin-bottom: 5px;
}
.mart-list img{
    width: 214px;
    height: 25px;
    float: left;
}
.mart-list ul{
    float: right;
    
}
.mart-list li{
    float: left;
    line-height: 31px;
    height: 31px;
    /* padding-bottom: 3px; */
    margin:0px 10px 0 10px;
    font-size: 14px;
}
.mart-list a{
    display: inline-block;
    color: #000;
    line-height: 20px;
    height: 20px;
}
.bg1 .mart .mart-list a:hover{
    border-bottom: 1px solid #000;
    /* text-decoration: underline; */
}
.mart-photo{
    position: relative;
    width: 220px;
    height: 618px;
    display: inline-block;
}
.mart-photo img{
    width: 220px;
    height: 618px;
    float: left;
}
.mart-photo-words{
    position: absolute;
    top: 0;
    left: 0;
    margin-top:400px;
}
.mart-photo-tmall{
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 18px;
    color: #fff;
    background: rgba(0,0,0,0.9);
    vertical-align: middle;
    line-height: 24px;
}
.mart-photo-happy{
    display: inline-block;
    width: 110px;
    height: 64px;
}
