*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}
/* 
    inline/inline-block  水平居中通过设置父元素的text-align:center
    block  水平居中设置自己的 margin:0 auto;
*/
/* banner开始 */
.banner{
    text-align: center;
    background:#3c3ad3;
}
.banner img{
    display: block;
    margin:0 auto;
}
.banner1{
    display: block;
    height: 80px;
    background:#ff2f7c url(../images/banner.jpg) no-repeat center 0;
}

/* banner结束 */
/* header开始 */
#header{
    background: #f2f2f2;
    height: 40px;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.30);
}
.wrapper{
    width: 1230px;
    /* background: #ff0000; */
    margin:0 auto;
}
.header-login{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    float: left;
}
.header-login span,.header-login a{
    color:#999;
}
.header-login a{
    padding-left:20px; 
}

.header-login a:hover{
    color: #FF0036;
}
.header-list{
    float:right;
}
.header-list li{
    float: left;
    position: relative;
}
.header-list>li>a{
    color: #999;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 20px;
}
.icon-gouwucheman,.icon-shouji{
    color: #FF0036;
    font-size: 14px;
}
.list-menu:hover > a{
    background: #fff;
    text-decoration: underline;
    color:#FF0036;
}
.arrow{
    width: 0;
    height: 0;
    border:3px solid transparent;
    border-top-color: #999;
    position: absolute;
    right:7px;
    top: 20px;
    transition:transform 0.2s ease;
}
.header-list .list-menu:hover .arrow{
    transform: rotate(180deg);
    transform-origin: 50% 25%;
}
.list-menu-color:hover > a{
    color:#FF0036;
}
.list-menu-no:hover > a{
    background: #fff;
    color:#999;
}
.sub-list{
    position: absolute;
    left: 0;
    top: 40px;
    background: #fff;
    padding: 10px 20px;
    width: 80px;
    line-height: 30px;
    display: none;
}
.sub-list a{
    color:#999;
}
.sub-list a:hover{
    color:#FF0036;
    text-decoration: underline;
}
.header-list .list-menu:hover .sub-list{
    display: block;
}










.sup-list{
    position: absolute;
    right: 0;
    top: 40px;
    background: #ffffff;
    padding: 10px 10px;
    width:120px;
    line-height: 30px;
    display: none;
}
.sup-list li{
    width: 60px;
}
.sup-list h4,a{
    color:#666;
}
.sup-list a:hover {
    color: #FF0036;
    text-decoration: underline;
}
.header-list .list-menu:hover .sup-list{
    display: block;
}




/*header结束 */