<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        <h2>
            {{msg}}
        </h2>
        <!-- name 用来给后台传数据 -->
        <input type="radio" name="sex" v-model="sex" value="boy">男
        <input type="radio" name="sex" v-model="sex" value="girl">女
    </br>
        <input type="checkbox" name="hobby" v-model="hobby" value="吃饭">吃饭
        <input type="checkbox" name="hobby" v-model="hobby" value="睡觉">睡觉
        <input type="checkbox" name="hobby" v-model="hobby" value="打代码">打代码
    </br>
        <select v-model="school">
            <option value="黑大">黑大</option>
            <option value="林大">林大</option>
            <option value="理工">理工</option>
        </select>




    </div>
    
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                msg:'aaa',
                sex:'boy',
                // 多个选项用数组存
                hobby:["吃饭"],
                school:"理工"
            }
        })
    
    
    </script>
</body>
</html>